html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
.randomizerButton{
  padding: 20px;
  background-color:#d4b2ed;
  }
 

row{
  display: flex;
}

.colimn{
  margin: 10px;
  flex: 50%;
}